.swipeButtons{
    position: fixed;
    bottom: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}


.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3) !important;
}

.swipeButtons_repeat{
    padding: 1vw !important;
    color: #f5b748 !important;
}

.swipeButtons_left{
    padding: 1vw !important;
    color: #ec5e6f !important;
}

.swipeButtons_star{
    padding: 1vw !important;
    color: #62b4f9 !important;
}

.swipeButtons_right{
    padding: 1vw !important;
    color: #76e2b3 !important;
}

.swipeButtons_lightning{
    padding: 1vw !important;
    color: #915dd1 !important;
}